body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(6, 163, 218, .7);
    font-size: 50px;
}
#new-paragraph {
    margin-left: 20px;
    margin-right: 40px;
    font-size: x-large;
}
#teeth {
    margin-top: 20px;
    margin-bottom: 20px;
}
#whiting {
    margin-left: 25px;
    margin-top: 25px;
}
#img{
    margin: auto ;
    height: 500px;
    width: 1000px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
#contain1 {
    font-size: large;
}
#ul {
    font-size: x-large;
}